body{
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.xEHBcSCJKyV8qe49HNcOswHaDt&pid=Api&P=0&h=180");
  color:white;
  background-position: center;
  background-size: cover;
}

.auto-scrolling-div::-webkit-scrollbar{
  display: none;
}
.outer{
  margin:30vh;
  display: flex;
  justify-content: space-around;
}
.outer_left{
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    height: 80%;
    width: 80%;
    border-radius: 10px;
  }
}
.join_room{
  height: 80vh;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:1.5rem;

  h1{
    font-size:3rem;
    color:black;
  }
  input{
    height: 5vh;
    width: 80%;
    background-color: black;
    border-style: none;
    border:solid 3px wheat;
    color:white;
    padding-left:1rem;
  }
  input::placeholder{
    font-weight: bolder;
    font-size:1rem;
  }

  button{
    height: 5vh;
    width: 200px;
    background-color: wheat;
    border-style: none;
    border:solid 3px rgb(0, 0, 0);
    color:black;
    font-size: 1rem;
    font-weight: bolder;
  }
}

.chat_container{
  height: 90vh;
  width: 40%;
  text-align: center;
  margin:auto;  /*to get the box in center*/

  .chat_box{
    
    height: 88%;
    width: 100%;
    position: relative;
  }

  .message_content{
    display: flex;
    font-weight: bold;

    
  }
  #y{
    background-color: white;
    padding:2px;
    color:black;
    border-radius: 5px;
  }
  #g{
    background-color: pink;
    padding:2px;
    color:black;
    border-radius: 5px;
  }
  #you{
    justify-content: flex-end;
  }
  #other{
    justify-content: flex-start;
  }
  
  #sender{
    display: flex;
    gap:10px;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;

  }
  #receiver{
    display: flex;
    gap:10px;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .chat_body{
    position: absolute;
    bottom:0;
    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    input{
      height: 7vh;
      width: 35vw;
      padding-left:1vw;
      background-color: black;
      border:solid wheat 2px;
      color:white;
      /* border:solid 1px wheat; */
    }
    input::placeholder{
      font-size: 1rem;
      color:white;
    }
    button{
      height: 8vh;
      width: 4vw;
      background-color: wheat;
      border:solid rgb(0, 0, 0) 2px;
      border-style: none;
      /* margin-left: 0.3vw; */
    }
  }
}

@media screen and (max-width: 768px) {
  .outer {
    flex-direction: column;
    align-items: center;
    margin:10vh;
  } 
}
.outer_left,
  .join_room {
    width: 90%;
    height: auto;
  }

  .chat_container{
    width: 100%;
  }
  .chat_body{
    #input_chat_body{
      width: 87%;
      margin-bottom:2vh;
      
      padding-left: 10px;
    }
    #button_chat_body{
      width: 13%;
      margin-bottom: 2vh;
      font-size: 3vh;
    }
  }
